@model Backoffice0._1.Models.C_servicios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>C_servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alias_servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alias_servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
