
<!DOCTYPE html>
<html class=" ">
<head>
    <title></title>
    @RenderSection("head", required: false)
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/production/css/select/select2.min.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Software Administrativo|Lion Group </title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")

</head>
<body class="pace-done nav-sm">
    <div class="pace  pace-inactive">
        <div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="container body">
        <div class="main_container" style="top: 0px;">
            <div class="col-md-3 left_col">
                <div tabindex="5000" class="left_col">
                    <div class="clearfix"></div>
                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img class="img-circle profile_img" alt="..." src="~/Content/production/images/img.jpg">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            @if (Session["LoggedUser"] != null)
                            {
                                <h2>@Session["LoggedUser"].ToString()</h2>
                            }
                        </div>
                    </div>
                    <!-- /menu prile quick info -->
                    <br>
                    <!-- sidebar menu -->
                    <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                @if (Session["LoggedUser"] != null)
                                {
                                    Html.RenderAction("ConsultarModulos", "USUARIOLOGIN", new { id_rol = Session["LoggedIdRol"] });
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                   <!-- <div class="sidebar-footer hidden-small" style="display: block;">
                        <a title="" data-original-title="Settings" data-toggle="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a title="" data-original-title="FullScreen" data-toggle="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a title="" data-original-title="Lock" data-toggle="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a title="" data-original-title="Logout" data-toggle="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div> -->
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav" style="left: 70px; top: 0px;">
                <div class="nav_menu" style="left: 70px; top: 0px;background:white;">
                    <nav role="navigation" style="left: 70px; top: 0px;">
                        <div class="nav toggle" style="left: 70px; top: 0px;">
                            <a id="menu_toggle" style="left: 70px; top: 11px;">
                                <i class="fa fa-bars" style="left: 85px; top: 16px;"></i>
                            </a>
                        </div>
                        @if (Session["LoggedUser"] != null)
                        {
                            <img src=@Session["logo_marca"] style="height:70px;" />
                        }
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="user-profile dropdown-toggle" aria-expanded="false" href="javascript:;" data-toggle="dropdown">
                                    <img alt="" src="images/img.jpg">@if (Session["LoggedUser"] != null)
                                    {
                                        @Session["LoggedUser"].ToString();
                                    }
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li>
                                        <a href="javascript:;">  Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Help</a>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Log out", "UsuarioLogin", "USUARIOLOGIN")<i class="fa fa-sign-out pull-right"></i>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" role="presentation">
                                <a class="dropdown-toggle info-number" aria-expanded="false" href="javascript:;" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list animated fadeInDown" id="menu1" role="menu">
                                    <li>
                                        <a>
                                            <span class="image">
                                                <img alt="Profile Image" src="images/img.jpg">
                                            </span>
                                            <span>
                                                <span>@ViewBag.LoggedUser</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a>
                                            <span class="image">
                                                <img alt="Profile Image" src="images/img.jpg">
                                            </span>
                                            <span>
                                                <span>@ViewBag.LoggedUser</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                                <img alt="Profile Image" src="images/img.jpg">
                                            </span>
                                            <span>
                                                <span>
                                                    @ViewBag.LoggedUser/span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                                <img alt="Profile Image" src="images/img.jpg">
                                            </span>
                                            <span>
                                                <span>@ViewBag.LoggedUser</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a href="inbox.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">

                @RenderBody()


                <!-- footer content -->
                <footer>
                    <div class="copyright-info">
                        <p class="pull-right">
                            Todos los derechos reservados <a href="https://quesipizzas.com">QuesiPizzas.com </a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>

        </div>

        @Html.Partial("/Views/MODALS.cshtml")


        <div class="custom-notifications dsp_none" id="custom_notifications">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
            <div class="clearfix"></div>
            <div class="tabbed_notifications" id="notif-group"></div>
        </div>

        <div class="nicescroll-rails" id="ascrail2000" style="left: 65px; top: 0px; width: 5px; height: 236px; display: block; position: absolute; z-index: auto; cursor: url(http://www.google.com/intl/en_ALL/mapfiles/openhand.cur),n-resize; opacity: 0; -ms-touch-action: none;"><div style="border-radius: 5px; border: 0px solid rgb(255, 255, 255); border-image: none; top: 0px; width: 5px; height: 79px; float: right; position: relative; -ms-touch-action: none; background-clip: padding-box; background-color: rgba(42, 63, 84, 0.35);"></div></div><div class="nicescroll-rails" id="ascrail2000-hr" style="left: 0px; top: 231px; width: 65px; height: 5px; display: none; position: absolute; z-index: auto; opacity: 0;"><div style="border-radius: 5px; border: 0px solid rgb(255, 255, 255); border-image: none; left: 0px; top: 0px; width: 70px; height: 5px; position: relative; background-clip: padding-box; background-color: rgba(42, 63, 84, 0.35);"></div></div><div class="jvectormap-tip"></div><div class="daterangepicker dropdown-menu opensleft show-calendar" style="left: auto; top: 860.07px; right: 15.39px;"><div class="calendar first left"><div class="calendar-date"><table class="table-condensed"><thead><tr><th></th><th class="prev available"><i class="fa fa-arrow-left icon icon-arrow-left glyphicon glyphicon-arrow-left"></i></th><th class="month" colspan="5"><select class="monthselect"><option value="0">January</option><option value="1">February</option><option selected="selected" value="2">March</option><option value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option></select><select class="yearselect"><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option></select></th><th></th></tr><tr><th class="week">W</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th><th>Su</th></tr></thead><tbody><tr><td class="week">9</td><td class="off disabled" data-title="r0c0">26</td><td class="off disabled" data-title="r0c1">27</td><td class="off disabled" data-title="r0c2">28</td><td class="off disabled" data-title="r0c3">1</td><td class="off disabled" data-title="r0c4">2</td><td class="off disabled" data-title="r0c5">3</td><td class="off disabled" data-title="r0c6">4</td></tr><tr><td class="week">10</td><td class="off disabled" data-title="r1c0">5</td><td class="off disabled" data-title="r1c1">6</td><td class="off disabled" data-title="r1c2">7</td><td class="off disabled" data-title="r1c3">8</td><td class="off disabled" data-title="r1c4">9</td><td class="off disabled" data-title="r1c5">10</td><td class="off disabled" data-title="r1c6">11</td></tr><tr><td class="week">11</td><td class="off disabled" data-title="r2c0">12</td><td class="off disabled" data-title="r2c1">13</td><td class="off disabled" data-title="r2c2">14</td><td class="off disabled" data-title="r2c3">15</td><td class="off disabled" data-title="r2c4">16</td><td class="off disabled" data-title="r2c5">17</td><td class="off disabled" data-title="r2c6">18</td></tr><tr><td class="week">12</td><td class="off disabled" data-title="r3c0">19</td><td class="off disabled" data-title="r3c1">20</td><td class="off disabled" data-title="r3c2">21</td><td class="off disabled" data-title="r3c3">22</td><td class="off disabled" data-title="r3c4">23</td><td class="off disabled" data-title="r3c5">24</td><td class="off disabled" data-title="r3c6">25</td></tr><tr><td class="week">13</td><td class="off disabled" data-title="r4c0">26</td><td class="off disabled" data-title="r4c1">27</td><td class="off disabled" data-title="r4c2">28</td><td class="off disabled" data-title="r4c3">29</td><td class="off disabled" data-title="r4c4">30</td><td class="off disabled" data-title="r4c5">31</td><td class="off disabled" data-title="r4c6">1</td></tr><tr><td class="week">14</td><td class="off disabled" data-title="r5c0">2</td><td class="off disabled" data-title="r5c1">3</td><td class="off disabled" data-title="r5c2">4</td><td class="off disabled" data-title="r5c3">5</td><td class="off disabled" data-title="r5c4">6</td><td class="off disabled" data-title="r5c5">7</td><td class="off disabled" data-title="r5c6">8</td></tr></tbody></table></div></div><div class="calendar second right"><div class="calendar-date"><table class="table-condensed"><thead><tr><th></th><th class="prev available"><i class="fa fa-arrow-left icon icon-arrow-left glyphicon glyphicon-arrow-left"></i></th><th class="month" colspan="5"><select class="monthselect"><option value="2">March</option><option selected="selected" value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option></select><select class="yearselect"></select></th><th></th></tr><tr><th class="week">W</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th><th>Su</th></tr></thead><tbody><tr><td class="week">13</td><td class="off disabled" data-title="r0c0">26</td><td class="off disabled" data-title="r0c1">27</td><td class="off disabled" data-title="r0c2">28</td><td class="off disabled" data-title="r0c3">29</td><td class="off disabled" data-title="r0c4">30</td><td class="off disabled" data-title="r0c5">31</td><td class="off disabled" data-title="r0c6">1</td></tr><tr><td class="week">14</td><td class="off disabled" data-title="r1c0">2</td><td class="off disabled" data-title="r1c1">3</td><td class="off disabled" data-title="r1c2">4</td><td class="off disabled" data-title="r1c3">5</td><td class="off disabled" data-title="r1c4">6</td><td class="off disabled" data-title="r1c5">7</td><td class="off disabled" data-title="r1c6">8</td></tr><tr><td class="week">15</td><td class="off disabled" data-title="r2c0">9</td><td class="off disabled" data-title="r2c1">10</td><td class="off disabled" data-title="r2c2">11</td><td class="off disabled" data-title="r2c3">12</td><td class="off disabled" data-title="r2c4">13</td><td class="off disabled" data-title="r2c5">14</td><td class="off disabled" data-title="r2c6">15</td></tr><tr><td class="week">16</td><td class="off disabled" data-title="r3c0">16</td><td class="off disabled" data-title="r3c1">17</td><td class="off disabled" data-title="r3c2">18</td><td class="off disabled" data-title="r3c3">19</td><td class="off disabled" data-title="r3c4">20</td><td class="off disabled" data-title="r3c5">21</td><td class="off disabled" data-title="r3c6">22</td></tr><tr><td class="week">17</td><td class="off disabled" data-title="r4c0">23</td><td class="off disabled" data-title="r4c1">24</td><td class="off disabled" data-title="r4c2">25</td><td class="off disabled" data-title="r4c3">26</td><td class="off disabled" data-title="r4c4">27</td><td class="off disabled" data-title="r4c5">28</td><td class="off disabled" data-title="r4c6">29</td></tr><tr><td class="week">18</td><td class="off disabled" data-title="r5c0">30</td><td class="off disabled" data-title="r5c1">1</td><td class="off disabled" data-title="r5c2">2</td><td class="off disabled" data-title="r5c3">3</td><td class="off disabled" data-title="r5c4">4</td><td class="off disabled" data-title="r5c5">5</td><td class="off disabled" data-title="r5c6">6</td></tr></tbody></table></div></div><div class="ranges"><ul><li class="active">Custom</li></ul><div class="range_inputs"><div class="daterangepicker_start_input"><label for="daterangepicker_start">From</label><input name="daterangepicker_start" class="input-mini" type="text" value=""></div><div class="daterangepicker_end_input"><label for="daterangepicker_end">To</label><input name="daterangepicker_end" class="input-mini" type="text" value=""></div><button class="applyBtn btn btn-default btn-small btn-primary">Submit</button>&nbsp;<button class="cancelBtn btn btn-default btn-small">Clear</button></div></div></div>
        <div class="custom-notifications dsp_none" id="custom_notifications">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
            <div class="clearfix"></div>
            <div class="tabbed_notifications" id="notif-group"></div>
        </div>



        <script>
            NProgress.done();
        </script>
        <!-- /datepicker -->
        <!-- /footer content -->


        <div class="nicescroll-rails" id="ascrail2000" style="left: 65px; top: 0px; width: 5px; height: 236px; display: block; position: absolute; z-index: auto; cursor: url(http://www.google.com/intl/en_ALL/mapfiles/openhand.cur),n-resize; opacity: 0; -ms-touch-action: none;"><div style="border-radius: 5px; border: 0px solid rgb(255, 255, 255); border-image: none; top: 0px; width: 5px; height: 79px; float: right; position: relative; -ms-touch-action: none; background-clip: padding-box; background-color: rgba(42, 63, 84, 0.35);"></div></div><div class="nicescroll-rails" id="ascrail2000-hr" style="left: 0px; top: 231px; width: 65px; height: 5px; display: none; position: absolute; z-index: auto; opacity: 0;"><div style="border-radius: 5px; border: 0px solid rgb(255, 255, 255); border-image: none; left: 0px; top: 0px; width: 70px; height: 5px; position: relative; background-clip: padding-box; background-color: rgba(42, 63, 84, 0.35);"></div></div><div class="jvectormap-tip"></div><div class="daterangepicker dropdown-menu opensleft show-calendar" style="left: auto; top: 860.07px; right: 15.39px;"><div class="calendar first left"><div class="calendar-date"><table class="table-condensed"><thead><tr><th></th><th class="prev available"><i class="fa fa-arrow-left icon icon-arrow-left glyphicon glyphicon-arrow-left"></i></th><th class="month" colspan="5"><select class="monthselect"><option value="0">January</option><option value="1">February</option><option selected="selected" value="2">March</option><option value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option></select><select class="yearselect"><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option></select></th><th></th></tr><tr><th class="week">W</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th><th>Su</th></tr></thead><tbody><tr><td class="week">9</td><td class="off disabled" data-title="r0c0">26</td><td class="off disabled" data-title="r0c1">27</td><td class="off disabled" data-title="r0c2">28</td><td class="off disabled" data-title="r0c3">1</td><td class="off disabled" data-title="r0c4">2</td><td class="off disabled" data-title="r0c5">3</td><td class="off disabled" data-title="r0c6">4</td></tr><tr><td class="week">10</td><td class="off disabled" data-title="r1c0">5</td><td class="off disabled" data-title="r1c1">6</td><td class="off disabled" data-title="r1c2">7</td><td class="off disabled" data-title="r1c3">8</td><td class="off disabled" data-title="r1c4">9</td><td class="off disabled" data-title="r1c5">10</td><td class="off disabled" data-title="r1c6">11</td></tr><tr><td class="week">11</td><td class="off disabled" data-title="r2c0">12</td><td class="off disabled" data-title="r2c1">13</td><td class="off disabled" data-title="r2c2">14</td><td class="off disabled" data-title="r2c3">15</td><td class="off disabled" data-title="r2c4">16</td><td class="off disabled" data-title="r2c5">17</td><td class="off disabled" data-title="r2c6">18</td></tr><tr><td class="week">12</td><td class="off disabled" data-title="r3c0">19</td><td class="off disabled" data-title="r3c1">20</td><td class="off disabled" data-title="r3c2">21</td><td class="off disabled" data-title="r3c3">22</td><td class="off disabled" data-title="r3c4">23</td><td class="off disabled" data-title="r3c5">24</td><td class="off disabled" data-title="r3c6">25</td></tr><tr><td class="week">13</td><td class="off disabled" data-title="r4c0">26</td><td class="off disabled" data-title="r4c1">27</td><td class="off disabled" data-title="r4c2">28</td><td class="off disabled" data-title="r4c3">29</td><td class="off disabled" data-title="r4c4">30</td><td class="off disabled" data-title="r4c5">31</td><td class="off disabled" data-title="r4c6">1</td></tr><tr><td class="week">14</td><td class="off disabled" data-title="r5c0">2</td><td class="off disabled" data-title="r5c1">3</td><td class="off disabled" data-title="r5c2">4</td><td class="off disabled" data-title="r5c3">5</td><td class="off disabled" data-title="r5c4">6</td><td class="off disabled" data-title="r5c5">7</td><td class="off disabled" data-title="r5c6">8</td></tr></tbody></table></div></div><div class="calendar second right"><div class="calendar-date"><table class="table-condensed"><thead><tr><th></th><th class="prev available"><i class="fa fa-arrow-left icon icon-arrow-left glyphicon glyphicon-arrow-left"></i></th><th class="month" colspan="5"><select class="monthselect"><option value="2">March</option><option selected="selected" value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option></select><select class="yearselect"></select></th><th></th></tr><tr><th class="week">W</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th><th>Su</th></tr></thead><tbody><tr><td class="week">13</td><td class="off disabled" data-title="r0c0">26</td><td class="off disabled" data-title="r0c1">27</td><td class="off disabled" data-title="r0c2">28</td><td class="off disabled" data-title="r0c3">29</td><td class="off disabled" data-title="r0c4">30</td><td class="off disabled" data-title="r0c5">31</td><td class="off disabled" data-title="r0c6">1</td></tr><tr><td class="week">14</td><td class="off disabled" data-title="r1c0">2</td><td class="off disabled" data-title="r1c1">3</td><td class="off disabled" data-title="r1c2">4</td><td class="off disabled" data-title="r1c3">5</td><td class="off disabled" data-title="r1c4">6</td><td class="off disabled" data-title="r1c5">7</td><td class="off disabled" data-title="r1c6">8</td></tr><tr><td class="week">15</td><td class="off disabled" data-title="r2c0">9</td><td class="off disabled" data-title="r2c1">10</td><td class="off disabled" data-title="r2c2">11</td><td class="off disabled" data-title="r2c3">12</td><td class="off disabled" data-title="r2c4">13</td><td class="off disabled" data-title="r2c5">14</td><td class="off disabled" data-title="r2c6">15</td></tr><tr><td class="week">16</td><td class="off disabled" data-title="r3c0">16</td><td class="off disabled" data-title="r3c1">17</td><td class="off disabled" data-title="r3c2">18</td><td class="off disabled" data-title="r3c3">19</td><td class="off disabled" data-title="r3c4">20</td><td class="off disabled" data-title="r3c5">21</td><td class="off disabled" data-title="r3c6">22</td></tr><tr><td class="week">17</td><td class="off disabled" data-title="r4c0">23</td><td class="off disabled" data-title="r4c1">24</td><td class="off disabled" data-title="r4c2">25</td><td class="off disabled" data-title="r4c3">26</td><td class="off disabled" data-title="r4c4">27</td><td class="off disabled" data-title="r4c5">28</td><td class="off disabled" data-title="r4c6">29</td></tr><tr><td class="week">18</td><td class="off disabled" data-title="r5c0">30</td><td class="off disabled" data-title="r5c1">1</td><td class="off disabled" data-title="r5c2">2</td><td class="off disabled" data-title="r5c3">3</td><td class="off disabled" data-title="r5c4">4</td><td class="off disabled" data-title="r5c5">5</td><td class="off disabled" data-title="r5c6">6</td></tr></tbody></table></div></div><div class="ranges"><ul><li class="active">Custom</li></ul><div class="range_inputs"><div class="daterangepicker_start_input"><label for="daterangepicker_start">From</label><input name="daterangepicker_start" class="input-mini" type="text" value=""></div><div class="daterangepicker_end_input"><label for="daterangepicker_end">To</label><input name="daterangepicker_end" class="input-mini" type="text" value=""></div><button class="applyBtn btn btn-default btn-small btn-primary">Submit</button>&nbsp;<button class="cancelBtn btn btn-default btn-small">Clear</button></div></div></div>
</body>
</html>