@model Backoffice0._1.Models.C_usuarios_sucursales

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>C_usuarios_sucursales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_sucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_sucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_usuarios.CODIGO_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_usuarios.CODIGO_USUARIO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
