<table class="table table-striped ">
    <tbody>
        @if (Session["Carrito"] != null)
        {
            foreach (var item in Session["Carrito"] as List<Backoffice0._1.Models.CarritoItem>)
            {
                <tr class="even pointer">
                    <td class="a-center ">
                        <input onclick="ProductoCuenta(@item.Index)" type="checkbox" id="@item.Index" value="@item.Costo" checked class="flat" name="apagar">
                    </td>
                    <td class=" ">1</td>
                    <td class=" ">@item.Producto</td>
                    <td class=" " name="precio" value="1">@item.Costo </td>
                </tr>

            }
        }
    </tbody>
</table>

