@model IEnumerable<Backoffice0._1.Models.C_pedidos_d>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pedido_d_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_pedidos.fecha_pedido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pedido_d_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_pedidos.fecha_pedido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_pedido_d }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_pedido_d }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_pedido_d })
        </td>
    </tr>
}

</table>
