
<html>
<head>

    <script type="text/javascript">

        var estado = Session["EstadoCaja"];
        function prueba() {
            window.close();
        }

        function cambioTurno() {
            alert("as");
        }
        function abrirCaja() {
            //alert("asdasd");
            //var usuarioNombre = document.getElementById('usuario').value;
            //var caja = document.getElementById('caja').value;
            //var monto = document.getElementById('monto').value;
            //var fecha = DateTime.Now.ToLongDateString()
            //var observaciones = document.getElementById('observaciones').value;
            //var estado = estado;



            $.ajax({
                url: '/CAJA/cajaMovimientos',
                type: "POST",
                contentType: 'application/json',
                //data: { usuario: usuarioNombre, caja: caja, monto: monto, fecha: fecha, observaciones: observaciones, estado: estado },

                success: function (result) {


                }
            });
        }
    </script>

    <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
</head>


<!--Modal Mesas asignadas-->
<div class="modal fade mesas_asignadas" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Mesas asignadas</h4>
            </div>
            <div class="">

                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Mesa</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#1</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Desasignar </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#13</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Desasignar </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#3</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Desasignar </a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-success left">+</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Mesas asignadas-->
<!-- Modal Asigna repartidor-->
<div class="modal fade asigna_repartidor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Asigna repartidor</h4>
            </div>
            <div class="">
                <div class="col-md-6 col-xs-6 col-lg-6">
                    <h3>Datos del pedido</h3>
                    Pedido:
                    <span>#1231234    </span><span>Hoy 4:30pm</span>
                    <br />
                    <span>Cliente: Juan Gonzalez </span>
                    <br />
                    <span>Direccion: Calle Nogales # 96 Col. Rosales II<br /> Lerdo, Dgo </span><br />
                    <span>Tel: 2955139</span>
                    <table class="table table-striped ">
                        <tbody>
                            <tr class="even pointer">
                                <td class=" ">1</td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                            </tr>
                            <tr class="even pointer">
                                <td class=" ">1</td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="table">
                        <tr class="">
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Subtotal </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                        <tr>
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">IVA </td>
                            <td class=" "> $69.90 </td>
                        </tr>
                        <tr>
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Total </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                        <tr class="">
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Pago cliente </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                        <tr class="">
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Cambio </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-6 col-xs-6 col-lg-6">
                    <center>
                        <br />
                        <br />
                        <input class="form-control" placeholder="Escane el gaffet del repartidor" />
                        <br />
                        <br />
                        <i class="fa fa-barcode fa-4x" aria-hidden="true"></i>
                        <h3>Samuel Doe</h3>
                        <h4>Repartidor</h4>
                        <br>
                    </center>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Asignar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Asigna repartidor-->
<!-- Modal Cambio de turno-->
<div class="modal fade cambio_turno" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Cambio de turno</h4>
            </div>
            <div class="modal-body">
                <div>
                    @{ var usuario = Session["LoggedUser"].ToString();
                        var fecha = DateTime.Now.ToLongDateString();
                        <label class="control-label ">@(fecha) </label><br />
                        <label class="control-label ">Entrega turno: </label>
                        <label class="control-label ">@(usuario)</label><br>
                        <label class="control-label ">Recibe turno</label>
                        if (ViewBag.Usuarios != null)
                        {
                            @Html.DropDownList("userid", new SelectList(ViewBag.Usuarios, "ID_USUARIO", "NOMBRE"))
                        }
                    }
                </div>
            </div>
            <br>
            <div class="x_panel">
                <div class="x_title" style="margin:0px;padding:0px;">
                    <h6>Movimientos <small></small></h6>
                    <div class="clearfix"></div>
                </div>
                <div class="" style="margin:0px;padding:0px;">
                    <br />

                    @{ 
                        var nombre = string.Empty;
                        decimal total = 0;
                        decimal granTotal = 0;
                        if (ViewBag.Ventas != null)
                        {
                            
                            <table >
                                @foreach (var n in ViewBag.Ventas)
                                {

                                    if (n.total > 0)
                                    {

                                        total = n.total;
                                        granTotal = total + granTotal;
                                        continue;

                                    }
                                    if (n.nombreTipoPago != null)
                                    {
                                        nombre = n.nombreTipoPago;

                                    }
                                    @*<form class="form-horizontal form-label-left input_mask" style="margin:0px;padding:0px;">*@

                                <tr>
                                    <td>@nombre</td>
                                    <td style="width:150px"></td>
                                    <td align="right" style="width:150px">@total</td>
                                </tr>


                                }
                            </table>

                        }
                    }


                    @*@ <label class=" col-md-8 col-sm-8 col-xs-8" style="text-align:left">Cantidad faltante:</label>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label class="" style="text-align:left"> $1000.00</label>
                        </div>*@
                    @*</div>
                            </div>
                        </div>*@
                    <div class="modal-footer">
                        <label class=" col-md-8 col-sm-8 col-xs-8" style="text-align:left">Cantidad recibida:</label>

                        &nbsp;<input type="text" style="width:70px" value="@(granTotal)" /><br>

                        <br />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Cambio de turno</button>
                    </div>
                    @*</div>*@
                    @*</div>*@
                    @*</div>*@

                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Cambio de turno-->
<!-- Modal Configura_combo -->
<div class="modal fade configura_combo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Configura tu combo</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-xs-6 col-lg-6">
                    <div>
                        <!-- Smart Wizard -->

                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps">
                                <li>
                                    <a href="#step-1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                            <small></small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">

                                            <small></small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <span class="step_no">3</span>
                                        <span class="step_descr">
                                            <small></small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <span class="step_no">4</span>
                                        <span class="step_descr">
                                            <small></small>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="step-1">
                                <h2 class="StepTitle">Seleccione 1 producto</h2>
                                <select class="form-control" multiple style="height:200px;">
                                    <optgroup label="Pizzas">
                                        <option value="volvo">Al pastor chica</option>
                                        <option value="volvo">Suprema chica</option>
                                        <option value="volvo">Hawaiana chica</option>
                                        <option value="volvo">Al pastor Mediana</option>
                                        <option value="volvo">Suprema Mediana</option>
                                        <option value="volvo">Hawaiana Mediana</option>
                                        <option value="volvo">Al pastor Grande</option>
                                        <option value="volvo">Suprema Grande</option>
                                        <option value="volvo">Hawaiana Grande</option>
                                    </optgroup>
                                    <optgroup label="Bebidas">
                                        <option value="CA">Coca cola 500gr</option>
                                        <option value="NV">Coca cola 2 lt</option>
                                        <option value="OR">Jugo 500 gr</option>
                                        <option value="WA">Jugo Manzana 500 gr</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div id="step-2">
                                <h2 class="StepTitle">Seleccione 1 producto</h2>
                                <select class="form-control" multiple style="height:200px;">
                                    <optgroup label="Pizzas">
                                        <option value="volvo">Al pastor chica</option>
                                        <option value="volvo">Suprema chica</option>
                                        <option value="volvo">Hawaiana chica</option>
                                        <option value="volvo">Al pastor Mediana</option>
                                        <option value="volvo">Suprema Mediana</option>
                                        <option value="volvo">Hawaiana Mediana</option>
                                        <option value="volvo">Al pastor Grande</option>
                                        <option value="volvo">Suprema Grande</option>
                                        <option value="volvo">Hawaiana Grande</option>
                                    </optgroup>
                                    <optgroup label="Bebidas">
                                        <option value="CA">Coca cola 500gr</option>
                                        <option value="NV">Coca cola 2 lt</option>
                                        <option value="OR">Jugo 500 gr</option>
                                        <option value="WA">Jugo Manzana 500 gr</option>
                                    </optgroup>
                                </select>

                            </div>
                            <div id="step-3">
                                <h2 class="StepTitle">Seleccione 1 producto</h2>

                                <select class="form-control" multiple style="height:200px;">
                                    <optgroup label="Pizzas">
                                        <option value="volvo">Al pastor chica</option>
                                        <option value="volvo">Suprema chica</option>
                                        <option value="volvo">Hawaiana chica</option>
                                        <option value="volvo">Al pastor Mediana</option>
                                        <option value="volvo">Suprema Mediana</option>
                                        <option value="volvo">Hawaiana Mediana</option>
                                        <option value="volvo">Al pastor Grande</option>
                                        <option value="volvo">Suprema Grande</option>
                                        <option value="volvo">Hawaiana Grande</option>
                                    </optgroup>
                                    <optgroup label="Bebidas">
                                        <option value="CA">Coca cola 500gr</option>
                                        <option value="NV">Coca cola 2 lt</option>
                                        <option value="OR">Jugo 500 gr</option>
                                        <option value="WA">Jugo Manzana 500 gr</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div id="step-4">
                                <h2 class="StepTitle">Seleccione 1 producto</h2>

                                <select class="form-control" multiple style="height:200px;">
                                    <optgroup label="Pizzas">
                                        <option value="volvo">Al pastor chica</option>
                                        <option value="volvo">Suprema chica</option>
                                        <option value="volvo">Hawaiana chica</option>
                                        <option value="volvo">Al pastor Mediana</option>
                                        <option value="volvo">Suprema Mediana</option>
                                        <option value="volvo">Hawaiana Mediana</option>
                                        <option value="volvo">Al pastor Grande</option>
                                        <option value="volvo">Suprema Grande</option>
                                        <option value="volvo">Hawaiana Grande</option>
                                    </optgroup>
                                    <optgroup label="Bebidas">
                                        <option value="CA">Coca cola 500gr</option>
                                        <option value="NV">Coca cola 2 lt</option>
                                        <option value="OR">Jugo 500 gr</option>
                                        <option value="WA">Jugo Manzana 500 gr</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <!-- End SmartWizard Content -->

                    </div>
                </div>
                <div class="col-md-6 col-xs-6 col-lg-6">
                    <h3>Combo seleccionado</h3>
                    <p>Detalle del combo</p><br /><br />

                    <p>Productos seleccionados:</p>
                </div>
                <div class="col-md-12 col-xs-12 col-lg-12">
                    <button type="button" class="btn btn-primary right">Aceptar</button>


                </div>
            </div>
            <div class="modal-footer ">

            </div>
        </div><br>
    </div>
</div>

<!-- /Modal Configura_combo -->
<!-- Modal detalle_pedido -->
<div class="modal fade detalle_pedido" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Platillo 1</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-xs-6 col-lg-6">
                    <h3>Datos del cliente</h3>
                    Pedido:
                    <span>#1231234    </span><span>Hoy 4:30pm</span>
                    <br />
                    <span>Cliente: Juan Gonzalez </span>
                    <br />
                    <span>Direccion: Calle Nogales # 96 Col. Rosales II<br /> Lerdo, Dgo </span><br />
                    <span>Tel: 2955139</span>
                </div>
                <div class="col-md-6 col-xs-6 col-lg-6">
                    <h3>Pedido:</h3>
                    <table class="table table-striped ">
                        <tbody>
                            <tr class="even pointer">
                                <td class=" ">1</td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                            </tr>
                            <tr class="even pointer">
                                <td class=" ">1</td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tr class="">
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Subtotal </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                        <tr>
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">IVA </td>
                            <td class=" "> $69.90 </td>
                        </tr>
                        <tr>
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Total </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                        <tr class="">
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Pago cliente </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                        <tr class="">
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Cambio </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                    </table>
                </div>

                <!-- Smart Wizard -->
                <div id="wizard" class=" wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1">
                                <span class="step_no">1</span>
                                <span class="step_descr">
                                    <strong>Nuevo</strong>
                                    <br />
                                    5 min
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                    <strong>Cocina</strong>
                                    <br />
                                    10 min
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3">
                                <span class="step_no">3</span>
                                <span class="step_descr">
                                    <strong>Asignado</strong>
                                    <br />
                                    10 min
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4">
                                <span class="step_no">4</span>
                                <span class="step_descr">
                                    <strong>Entregado</strong>
                                    <br />
                                    10 min
                                </span>
                            </a>
                        </li>
                    </ul>
                    <center>
                        <div id="step-1">
                            Registrado por: Lucia Mendez <br />
                            2:30 pm
                        </div>
                        <div id="step-2">
                            Enviado a cocina por: Luis Velazquez <br />
                            2:35 pm
                        </div>
                        <div id="step-3">
                            Asignado al repartidor: Jose Perez <br />
                            2:50 pm
                        </div>
                        <div id="step-4">
                            Confirmacion de entrega a: <br />
                            3:00 pm
                        </div>
                    </center>
                </div>
                <!-- End SmartWizard Content -->
            </div>
        </div><br>
    </div>
</div>

<!-- /Modal detalle_pedido -->
<!-- Modal detalle_salida_almacen -->
<div class="modal fade detalle_salida_almacen" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Salida de almacen</h4>
            </div>
            <div class="modal-body">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" id="merma" role="tab" data-toggle="tab" aria-expanded="true">Merma</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="traspaso" data-toggle="tab" aria-expanded="false">Traspaso</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="merma">
                            <p>hola 1</p>

                            <div class="form-group col-md-6">

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="traspaso">
                            <p>hola 2</p>
                            <div class="col-md-6 col-sm-6">
                                <label class="control-label ">Sucursal destino</label>
                                <div class="2">
                                    <select class="select2_single">
                                        <option>Seleccione una sucursal</option>
                                        <option>Sucursal 1</option>
                                        <option>Sucursal 2</option>
                                        <option>Sucursal 3</option>
                                        <option>Sucursal 4</option>
                                        <option>Sucursal 5</option>
                                        <option>Sucursal 6</option>
                                    </select>
                                </div>
                                <label class="control-label col-md-12 col-sm-12 ">
                                    Motivo de traspaso
                                </label>
                                <textarea class="form-control "></textarea>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <table id="datatable-keytable" class=" table-editable table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Insumo</th>
                                            <th>Descripcion</th>
                                            <th>Cantidad merma</th>
                                            <th>Unidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Insumo 1</td>
                                            <td> Descripcion</td>
                                            <td contenteditable="true">0</td>
                                            <td> PZA</td>
                                        </tr>
                                        <tr>
                                            <td>Insumo 1</td>
                                            <td> Descripcion</td>
                                            <td contenteditable="true">0</td>
                                            <td> PZA</td>
                                        </tr>
                                        <tr>
                                            <td>Insumo 1</td>
                                            <td> Descripcion</td>
                                            <td contenteditable="true">0</td>
                                            <td> PZA</td>
                                        </tr>
                                        <tr>
                                            <td>Insumo 1</td>
                                            <td> Descripcion</td>
                                            <td contenteditable="true">0</td>
                                            <td> Caja</td>
                                        </tr>
                                        <tr>
                                            <td>Insumo 1</td>
                                            <td> Descripcion</td>
                                            <td contenteditable="true">0</td>
                                            <td> KG</td>
                                        </tr>
                                        <tr>
                                            <td>Insumo 1</td>
                                            <td> Descripcion</td>
                                            <td contenteditable="true">0</td>
                                            <td> PZA</td>
                                        </tr>
                                        <tr>
                                            <td>Insumo 1</td>
                                            <td> Descripcion</td>
                                            <td contenteditable="true">0</td>
                                            <td> PZA</td>
                                        </tr>
                                        <tr>
                                            <td>Insumo 1</td>
                                            <td> Descripcion</td>
                                            <td contenteditable="true">0</td>
                                            <td> Caja</td>
                                        </tr>
                                        <tr>
                                            <td>Insumo 1</td>
                                            <td> Descripcion</td>
                                            <td contenteditable="true">0</td>
                                            <td> KG</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Registrar pago</button>

                    <button type="button" class="btn btn-success left">Dividir cuenta</button>
                </div>s
            </div>
        </div>
    </div>
</div>
<!-- /Modal detalle_salida_almacen -->
<!-- Modal solicitar_cancelacion -->
<div class="modal fade cancelar_pedido" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Solicitar cancelacion</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-xs-6 col-lg-6">
                    <h3>Datos del cliente</h3>
                    Pedido:
                    <span>#1231234    </span><span>Hoy 4:30pm</span>
                    <br />
                    <span>Cliente: Juan Gonzalez </span>
                    <br />
                    <span>Direccion: Calle Nogales # 96 Col. Rosales II<br /> Lerdo, Dgo </span><br />
                    <span>Tel: 2955139</span>
                </div>
                <div class="col-md-6 col-xs-6 col-lg-6">
                    <h3>Pedido:</h3>
                    <table class="table table-striped ">
                        <tbody>
                            <tr class="even pointer">
                                <td class=" ">1</td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                            </tr>
                            <tr class="even pointer">
                                <td class=" ">1</td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tr class="">
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Subtotal </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                        <tr>
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">IVA </td>
                            <td class=" "> $69.90 </td>
                        </tr>
                        <tr>
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Total </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                        <tr class="">
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Pago cliente </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                        <tr class="">
                            <td class=" "></td>
                            <td class=" " style="text-align:right;">Cambio </td>
                            <td class=" ">$69.90 </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-6">
                    <label class="form-label"> Seleccione el motivo de la cancelacion</label><br />
                    <select class="form-control">
                        <option>
                            Cliente cancela pedido
                        </option>
                        <option>
                            Cliente cancela pedido
                        </option>
                    </select><br />
                    <label class="form-label">La cancelacion representa una perdida de: </label> <br />
                    <input type="checkbox" class="flat" /> Insumos
                    <input type="checkbox" class="flat" /> Dinero
                </div>
                <div class="col-md-6 col-lg-6 col-xs-6">
                    <label class="form-label">Comentarios:</label>
                    <textarea class="resizable_textarea form-control" placeholder="Ingresa tus comentarios"></textarea>
                    <br /><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Solicitar cancelacion</button>
                </div>
            </div><br>
        </div>
    </div>
</div>
<!-- /Modal cancelar -->
<!-- Modal detalle_backorder -->
<div class="modal fade detalle_backorder" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Detalle del Barckorder</h4>
            </div>
            <div class="modal-body" style="overflow:scroll;">
                <h3>Backorder del dia 16 de mayo 2018 </h3>
                <table id="datatable-keytable" class=" table-editable table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Insumo</th>
                            <th colspan="2">Sucursal 1</th>
                            <th colspan="2">Sucursal 2</th>
                            <th colspan="2">Sucursal 3</th>
                            <th colspan="2">Sucursal 4</th>
                            <th colspan="2">Sucursal 5</th>
                            <th colspan="2">Sucursal 6</th>
                            <th colspan="2">Sucursal 7</th>
                            <th colspan="2">Sucursal 8</th>
                            <th colspan="2">Sucursal 9</th>
                            <th colspan="2">Sucursal 10</th>
                            <th colspan="2">Sucursal 11</th>
                            <th colspan="2">Sucursal 12</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>
                            <td> Paquetes</td>
                            <td>Suelta</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Insumo 1</td>
                            <td>12</td>
                            <td>67</td>
                            <td>1</td>
                            <td>2.4</td>
                            <td>12</td>
                            <td>423</td>
                            <td>2</td>
                            <td>5</td>
                            <td>1</td>
                            <td>1.6</td>
                            <td>1</td>
                            <td>1.78</td>
                            <td>2</td>
                            <td>3.6</td>
                            <td>1</td>
                            <td>12</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0.7</td>
                            <td>2</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0.76</td>
                        </tr>
                        <tr>
                            <td>Insumo 1</td>
                            <td>12</td>
                            <td>67</td>
                            <td>1</td>
                            <td>2.4</td>
                            <td>12</td>
                            <td>423</td>
                            <td>2</td>
                            <td>5</td>
                            <td>1</td>
                            <td>1.6</td>
                            <td>1</td>
                            <td>1.78</td>
                            <td>2</td>
                            <td>3.6</td>
                            <td>1</td>
                            <td>12</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0.7</td>
                            <td>2</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0.76</td>
                        </tr>
                        <tr>
                            <td>Insumo 1</td>
                            <td>12</td>
                            <td>67</td>
                            <td>1</td>
                            <td>2.4</td>
                            <td>12</td>
                            <td>423</td>
                            <td>2</td>
                            <td>5</td>
                            <td>1</td>
                            <td>1.6</td>
                            <td>1</td>
                            <td>1.78</td>
                            <td>2</td>
                            <td>3.6</td>
                            <td>1</td>
                            <td>12</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0.7</td>
                            <td>2</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0.76</td>
                        </tr>
                        <tr>
                            <td>Insumo 1</td>
                            <td>12</td>
                            <td>67</td>
                            <td>1</td>
                            <td>2.4</td>
                            <td>12</td>
                            <td>423</td>
                            <td>2</td>
                            <td>5</td>
                            <td>1</td>
                            <td>1.6</td>
                            <td>1</td>
                            <td>1.78</td>
                            <td>2</td>
                            <td>3.6</td>
                            <td>1</td>
                            <td>12</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0.7</td>
                            <td>2</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0.76</td>
                        </tr>
                        <tr>
                            <td>Insumo 1</td>
                            <td>12</td>
                            <td>67</td>
                            <td>1</td>
                            <td>2.4</td>
                            <td>12</td>
                            <td>423</td>
                            <td>2</td>
                            <td>5</td>
                            <td>1</td>
                            <td>1.6</td>
                            <td>1</td>
                            <td>1.78</td>
                            <td>2</td>
                            <td>3.6</td>
                            <td>1</td>
                            <td>12</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0.7</td>
                            <td>2</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0.76</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Registrar salida microsip</button>
                </div>
            </div>

        </div>
    </div><br>

</div>
<!-- /Modal detalle_backorder -->
<!-- Modal pos_prenomina -->
<div class="modal fade pos_prenomina" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Generar prenomina</h4>
            </div>
            <div class="modal-body" style="overflow:scroll;">
                <div>
                    Fecha de registro:
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="First Name" aria-describedby="inputSuccess2Status2">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <br />
                </div>


                <table id="datatable-keytable" class=" table-editable table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Empleado</th>
                            <th>Puesto</th>
                            <th>Faltas</th>
                            <th>Horas extra</th>
                            <th>Bono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Empleado 1</td>
                            <td> Cajero</td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                        </tr>
                        <tr>
                            <td>Empleado 2</td>
                            <td>Repartidor</td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                        </tr>
                        <tr>
                            <td>Empleado 3</td>
                            <td>Cocina</td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                        </tr>
                        <tr>
                            <td>Empleado 4</td>
                            <td> Cajero</td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                        </tr>
                        <tr>
                            <td>Empleado 5</td>
                            <td></td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                            <td contenteditable="true">0</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar  prenomina temporal</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>

        </div>
    </div><br>

</div>
<!-- /Modal pos_prenomina -->
<!-- Modal ingresa_nombre -->
<div class="modal fade ingresa_nombre" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Bienvenido</h4>
            </div>
            <div class="modal-body">
                <center>
                    <h3>Ingresa tu nombre</h3>
                    <input class="form-control" />
                </center>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </div>

        </div>
    </div><br>

</div>

<!-- /Modal ingresa_nombre -->
<!-- Modal detalle -->
<div class="modal fade detalle_producto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Platillo 1</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="product-image">
                        <img src="http://www.tierradelsol.mx/wp-content/uploads/2014/09/Chilaquiles-rojos.jpg" alt="..." />
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    Descripcion:
                    <p>Atún mechado con tocino, pimienta y ajo y cocido con aceite de oliva y vinoblanco. Se presenta en rodajas acompañado con la salsa de su cocción</p>
                    <h3>$80.00</h3>

                    <label class="control-label">Cantidad:</label>


                    <input type="number" value=1 min="1" max="15">
                    <br />
                    <label class="">Notas:</label>
                    <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                              data-parsley-validation-threshold="10"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <br />
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal detalle -->
<!-- /Modal pedido_cliente -->
<div class="modal fade pedido_resumen" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Pedido</h4>
            </div>
            <div class="modal-body">
                <tr>
                    <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                    </td>
                    <td class=" "><strong>Nallely Fernandez</strong></td>
                </tr>
                <table class="table table-striped ">
                    <tbody>
                        <tr class="even pointer">
                            <td class=" "><select><option>1</option><option>2</option></select></td>
                            <td class=" ">Al pastor chica</td>
                            <td class=" ">$69.90 </td>
                            <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i>  </a> </td>
                        </tr>
                        <tr class="even pointer">
                            <td class=" "><select><option>1</option><option>2</option></select></td>
                            <td class=" ">Al pastor chica</td>
                            <td class=" ">$69.90 </td>
                            <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i>  </a> </td>
                        </tr>

                    </tbody>
                </table>
                <tr>
                    <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                    </td>
                    <td class=" "><strong>Cesar Cordova</strong></td>
                </tr>
                <table class="table table-striped ">

                    <tbody>
                        <tr class="even pointer">
                            <td class=" "><select><option>1</option><option>2</option></select></td>
                            <td class=" ">Al pastor chica</td>
                            <td class=" ">$69.90 </td>
                            <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i>  </a> </td>
                        </tr>
                        <tr class="even pointer">
                            <td class=" "><select><option>1</option><option>2</option></select></td>
                            <td class=" ">Al pastor chica</td>
                            <td class=" ">$69.90 </td>
                            <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i>  </a> </td>
                        </tr>

                    </tbody>
                </table>
                <table class="table table-striped ">

                    <tbody>
                        <tr class="even pointer">
                            <td class=" "></td>
                            <td class=" "></td>
                            <td class=" ">Subtotal</td>
                            <td class=" ">$69.90 </td>

                        </tr>
                        <tr class="even pointer">
                            <td class=" "></td>
                            <td class=" "></td>
                            <td class=" ">IVA</td>
                            <td class=" ">$69.90 </td>

                        </tr>
                        <tr class="even pointer">
                            <td class=" "></td>
                            <td class=" "></td>
                            <td class=" "><h2>Total</h2></td>
                            <td class=" "><h2>$69.90</h2> </td>

                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success" style="width: 100%;">Solicitar pedido</button>
                <button type="button" class="btn btn-primary" style="width: 100%;" data-toggle="modal" data-target=".ingresa_nombre">Agregar otra persona</button>
            </div>
        </div>
    </div>
</div>

<!-- /Modal pedido_cliente -->
<!-- Modal pos_inventarior -->
<div class="modal fade pos_inventario" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Registrar inventario</h4>
            </div>
            <div class="modal-body" style="overflow:scroll;">
                <h3>Inventario </h3>
                <table id="datatable-keytable" class=" table-editable table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Insumo</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Insumo 1</td>
                            <td> Descripcion</td>
                            <td contenteditable="true"></td>
                            <td> PZA</td>
                        </tr>
                        <tr>
                            <td>Insumo 1</td>
                            <td> Descripcion</td>
                            <td contenteditable="true"></td>
                            <td> PZA</td>
                        </tr>
                        <tr>
                            <td>Insumo 1</td>
                            <td> Descripcion</td>
                            <td contenteditable="true"></td>
                            <td> PZA</td>
                        </tr>
                        <tr>
                            <td>Insumo 1</td>
                            <td> Descripcion</td>
                            <td contenteditable="true"></td>
                            <td> Caja</td>
                        </tr>
                        <tr>
                            <td>Insumo 1</td>
                            <td> Descripcion</td>
                            <td contenteditable="true"></td>
                            <td> KG</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar Inventario temporal</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>

        </div>
    </div><br>

</div>
<!-- /Modal pos_inventario -->
<!-- Modal pago -->
<div class="modal fade pago" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Pagar</h4>
            </div>
            <div class="modal-body">

                <div class="x_panel">
                    <div class=" col-xs-4 col-md-4">
                        <div class="x_title">
                            <h2> Pedido #12312<small>Resumen</small> </h2>

                            <div class="clearfix"></div>
                        </div>
                        <tr>
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" "><strong>Nallely Fernandez</strong></td>
                        </tr>
                        <div id="visualizacarrito">

                        </div>
                        <tr>
                            <td class="a-center ">
                                <input type="checkbox" class="flat">
                            </td>
                            <td class=" "><strong>Cesar Cordova</strong></td>
                        </tr>
                        <table class="table table-striped ">

                            <tbody>
                                <tr class="even pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="foo1">
                                    </td>
                                    <td class=" ">1</td>
                                    <td class=" ">Al pastor chica</td>
                                    <td class=" ">$69.90 </td>
                                </tr>
                                <tr class="even pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="foo1">
                                    </td>
                                    <td class=" ">1</td>
                                    <td class=" ">Al pastor chica</td>
                                    <td class=" ">$69.90 </td>
                                </tr>
                            </tbody>
                        </table>

                        <label>Registrar codigo</label>
                        <input type="text" /><a class="btn btn-success" onclick="sumar();">Validar</a>
                        <label>Caja:</label>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Tipo de pago<small>Opciones</small></h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab1" class="nav nav-tabs bar_tabs left" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tab_content11" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Efectivo</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content22" role="tab" id="profile-tabb" data-toggle="tab" aria-controls="profile" aria-expanded="false">Tarjeta credito/debito</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content33" role="tab" id="profile-tabb3" data-toggle="tab" aria-controls="profile" aria-expanded="false">Tarjeta amigo</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent2" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content11" aria-labelledby="home-tab">
                                            <p>

                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content22" aria-labelledby="profile-tab">
                                            <div class="col-md-4">
                                                <label class="col-md-6">Tipo de tarjeta:</label>
                                                <select>
                                                    <option>Credito</option>
                                                    <option>Debito</option>
                                                </select>
                                            </div>
                                            <div class="col-md-8">
                                                <label class="col-md-6">Ingrese los ultimos 4 digitos</label>
                                                <input class="col-md-6" />
                                            </div>

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content33" aria-labelledby="profile-tab">
                                            <div class="col-md-12">
                                                <label class="col-md-6">Ingrese el numero de tarjeta</label>
                                                <input class="col-md-6" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <table>
                                            <tr>
                                                <td id="total">Subtotal =</td>
                                                <td>$ 200.00</td>
                                            </tr>
                                            <tr>
                                                <td>Descuentos=</td>
                                                <td>$ 200.00</td>
                                            </tr>
                                            <tr>
                                                <td><br />Total=</td>
                                                <td><br />$ 200.00</td>
                                            </tr>
                                            <br />
                                            <tr>
                                                <td>Pago </td>
                                                <td><input class="col-md-5" /></td>
                                            </tr>
                                            <tr>
                                                <td>Cambio =</td>
                                                <td>$ 200.00</td>
                                            </tr>
                                        </table>
                                        <table>

                                            <tr>
                                                <td><br /><br />Saldo pendiente =</td>
                                                <td><br /><br />$ 200.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br />
                                    <div class="panel">
                                        <input type="checkbox" class="flat" />Requiero factura

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div><br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Registrar pago</button>
                    <button type="button" class="btn btn-success left">Dividir cuenta</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal pago -->
<!-- Modal detalle_promocion -->
<div class="modal fade detalle_promocion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Promocion</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <div>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Tipo</label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <select class="form-control" tabindex="-1">
                                    <option value="AK">Promocion</option>
                                    <option value="AK">Combo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Restricciones</label>
                            <div>
                                <textarea type="text" class="form-control" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <strong><h5>El cliente debera de seleccionar:</h5></strong>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <strong><h6>Uno de estos productos</h6></strong>
                        <select name="cars" class="form-control" multiple>
                            <optgroup label="Pizzas">
                                <option value="volvo">Al pastor chica</option>
                                <option value="volvo">Suprema chica</option>
                                <option value="volvo">Hawaiana chica</option>
                                <option value="volvo">Al pastor Mediana</option>
                                <option value="volvo">Suprema Mediana</option>
                                <option value="volvo">Hawaiana Mediana</option>
                                <option value="volvo">Al pastor Grande</option>
                                <option value="volvo">Suprema Grande</option>
                                <option value="volvo">Hawaiana Grande</option>
                            </optgroup>
                            <optgroup label="Bebidas">
                                <option value="CA">Coca cola 500gr</option>
                                <option value="NV">Coca cola 2 lt</option>
                                <option value="OR">Jugo 500 gr</option>
                                <option value="WA">Jugo Manzana 500 gr</option>
                            </optgroup>
                        </select>
                        <br />
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="col-md-2 col-sm-2" style="margin-top:20%;">
                            <h1> + </h1>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <strong><h6>Uno de estos productos</h6></strong>
                            <select name="cars" class="form-control" multiple>
                                <optgroup label="Pizzas">
                                    <option value="volvo">Al pastor chica</option>
                                    <option value="volvo">Suprema chica</option>
                                    <option value="volvo">Hawaiana chica</option>
                                    <option value="volvo">Al pastor Mediana</option>
                                    <option value="volvo">Suprema Mediana</option>
                                    <option value="volvo">Hawaiana Mediana</option>
                                    <option value="volvo">Al pastor Grande</option>
                                    <option value="volvo">Suprema Grande</option>
                                    <option value="volvo">Hawaiana Grande</option>
                                </optgroup>
                                <optgroup label="Bebidas">
                                    <option value="CA">Coca cola 500gr</option>
                                    <option value="NV">Coca cola 2 lt</option>
                                    <option value="OR">Jugo 500 gr</option>
                                    <option value="WA">Jugo Manzana 500 gr</option>
                                </optgroup>
                            </select>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="col-md-2 col-sm-2" style="margin-top:20%;">
                            <h1> + </h1>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <strong><h6>Uno de estos productos</h6></strong>
                            <select name="cars" class="form-control" multiple>
                                <optgroup label="Pizzas">
                                    <option value="volvo">Al pastor chica</option>
                                    <option value="volvo">Suprema chica</option>
                                    <option value="volvo">Hawaiana chica</option>
                                    <option value="volvo">Al pastor Mediana</option>
                                    <option value="volvo">Suprema Mediana</option>
                                    <option value="volvo">Hawaiana Mediana</option>
                                    <option value="volvo">Al pastor Grande</option>
                                    <option value="volvo">Suprema Grande</option>
                                    <option value="volvo">Hawaiana Grande</option>
                                </optgroup>
                                <optgroup label="Bebidas">
                                    <option value="CA">Coca cola 500gr</option>
                                    <option value="NV">Coca cola 2 lt</option>
                                    <option value="OR">Jugo 500 gr</option>
                                    <option value="WA">Jugo Manzana 500 gr</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Tipo descuento</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select class="form-control" tabindex="-1">
                                    <option value="AK">Producto de mayor precio</option>
                                    <option value="AK">Aplicar porcentaje</option>
                                    <option value="AK">Definir cantidad a pagar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div><br>
    </div>
</div>
<!-- /Modal detalle_promocion -->
<!-- Modal Mapa-->
<div class="modal fade mapa" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Ubicacion geografica del cliente</h4>
            </div>
            <div class="modal-body">
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYqml5rDeYuSRQYCae0yOoz_I8EbLPnuo&callback=initMap" "></script>
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                <div class="container" id="map-canvas" style="height:300px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--Modal google Maps-->
<!--Modal caja-->
<body>
    @using (Html.BeginForm("cajaMovimientos", "CAJA", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        var userName = Session["LoggedUser"];
        //var fecha = DateTime.Now.ToLongDateString();
        var estado = "Caja cerrada";
        if (Session["EstadoCaja"] != null)
        {
            estado = Session["EstadoCaja"].ToString();



        }
        <form action="" method="post">
            <div class="modal fade caja" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h2>@(fecha)</h2>
                            <h1 id="myModalLabel">Apertura de caja&nbsp; </h1>
                        </div>
                        <div class="modal-body">

                            <div class="x_panel">
                                <div class="form-group">


                                    <table>

                                        <tr>
                                            <td><h2>Usuario: </h2></td>
                                            <td><input type="text" name="usuario" value="@(userName)" style="width: 340px" class="form-control" /></td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td align="center"><h2>Monto base: $</h2></td>
                                            <td><input type="number" name="monto" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td><h2>Caja:</h2></td>
                                            <td><select name="caja" style="width: 340px" class="form-control"><option>1</option><option>2</option></select></td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td align="center"><h2>Observaciones:</h2></td>
                                            <td>
                                                <input type="text" name="observaciones" style="WIDTH: 228px; HEIGHT: 98px"
                                                       size=32 />
                                            </td>
                                        </tr>
                                    </table>
                                </div>


                            </div><br>
                            <div class="modal-footer">
                                <table>
                                    <tr>
                                        <td><h1>Estado:</h1></td>
                                        <td><h2 class="bg-red">@(estado)</h2></td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                        @if (ViewData["userFlag"] != null)
                                        {
                                            if ((bool)ViewData["userFlag"] == true)
                                            {
                                                <td><input type="submit" class="btn btn-primary" value="Guardar" disabled></td>
                                                <td><button type="button" class="btn btn-primary" id="cambioTurno" data-toggle="modal" data-target=".cambio_turno" data-dismiss="modal">Cambio de turnos</button></td>
                                                <td><button type="button" id="cierre" class="btn btn-primary">Realizar cierre</button></td>
                                                <td><button type="button" id="reportes" class="btn btn-primary">Reportes</button></td>
                                            }
                                        }
                                        else
                                        {
                                            <td><input type="submit" class="btn btn-primary" value="Guardar"></td>
                                            <td><button type="button" id="cambioTurno" class="btn btn-primary" disabled>Cambio de turno</button></td>
                                            <td><button type="button" id="cierre" class="btn btn-primary" disabled>Realizar cierre</button></td>
                                            <td><button type="button" id="reportes" class="btn btn-primary" disabled>Reportes</button></td>
                                        }


                                    </tr>
                                </table>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    }

    <!--/Modal caja-->


</body>
</html>