
@model Backoffice0._1.Models.modelConfigBase
@{
                /**/

                ViewBag.Title = "ConfiguraciÓn";
                Layout = "~/Views/Shared/MainLayout.cshtml";

}

<h2>Configuración</h2>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<header id="header">
    <div class="w3-bar w3-dark-grey">
        <nav id="nav">

            @Html.ActionLink("Modulos", "Index", "MODULOS", null, new { @class = "w3-bar-item w3-button" })
            @*<a href="~/Views/MODULOS/Index.cshtml" class="w3-bar-item w3-button">Modulos</a>*@
            @Html.ActionLink("Servicios", "Index", "C_SERVICIOS", null, new { @class = "w3-bar-item w3-button" })
            @Html.ActionLink("Permisos", "Index", "PERMISOS", null, new { @class = "w3-bar-item w3-button" })
            @Html.ActionLink("Roles", "Index", "ROLES", null, new { @class = "w3-bar-item w3-button" })
            @Html.ActionLink("Usuarios", "Index", "USUARIOS", null, new { @class = "w3-bar-item w3-button" })
            @Html.ActionLink("Configuracion", "Configuracion", "Configuracion", null, new { @class = "w3-bar-item w3-button" })
        </nav>
    </div>
</header>
<style>
    .MakeWide {
        font-size: small
    }
</style>


<br />
<br />
<label class="MakeWide">
    Configuración de seguridad<br />
    <br />

    Usuario: @ViewBag.Nombre

    @using (Html.BeginForm("UserSelected", "Configuracion", FormMethod.Post))
    {
        @Html.AntiForgeryToken();

        @Html.DropDownListFor(Model => Model.ID_USUARIO, new SelectList(Model.usuarios, "ID_USUARIO", "NOMBRE", Model.NOMBRE), new { @id = "SelID" })


        <input type="submit" value="submit" />
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SelID").val($("#SelID option:selected").text());

        });
    </script>

   Servicio: @ViewBag.DescripcionServicio
    &nbsp;&nbsp;&nbsp;&nbsp; Rol: @ViewBag.DescripcionRol

    <script type="text/javascript">

        //function showalert() {
        //    var userId = $('#SelectIdUsuario').val();
        //    alert('You Clicked Button ' + userId);
        //}
        function SelectIndexChange() {
            var userId = $('#SelectIdUsuario').val();

            $.ajax({
                url: '/Configuracion/testing',
                type: "POST",
                dataType: "JSON",
                data: { userId: userId },
                //success: function (data) {
                //    alert(data);

                //}

            });

        }
    </script>


</label>


<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

    <link real="stylesheet" type="text/css" href="~/Content/production/css/table.css" />
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <link href="//cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/skin-win8/ui.fancytree.min.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/jquery.fancytree-all-deps.min.js"></script>
    <link href="../src/skin-win8/ui.fancytree.css" rel="stylesheet">
    <script src="../src/jquery.fancytree.js"></script>
    <script type="text/javascript">
       
     

     

        var descPerfil = '@ViewBag.DescripcionServicio'
       var descRol = '@ViewBag.DescripcionRol'
        var descNombre = '@ViewBag.Nombre'
       
        function foo() {

            if (selKeys != null)
                permisos = permisos + selKeys.join(", ")
            alert("asdad" + permisos + descNombre + modulo)
            $.ajax({
                url: '/Configuracion/GuardarPermisos',
                type: "GET",
                contentType: 'application/json',
                data: { param1: permisos, perfil: descPerfil, rol: descRol, nombre: descNombre, modulo: modulo, model: smodulo},
               success: alert("Datos Guardados")

            });

            return true;
    if(null != TempData["alertMessage"])
   {

        alert(TempData["alertMessage"]);

    }
    }

    </script>

</head>
<body>
    <div>
        <br />      
        <p>Modulos:</p>

        @using (Html.BeginForm("moduleSelected", "Configuracion", FormMethod.Post))
        {
            @Html.AntiForgeryToken();

            @Html.DropDownListFor(Model => Model.ID_MODULO, new SelectList(Model.modulos, "idModulo", "Nombre", Model.NOMBRE_MODULO), new { @id = "SelID" })
            @Html.HiddenFor(Model => Model.SELECTED_MODULO)

        <table cellspacing="10">

            <tr>
                <th>


                </th>
                <th>
                    <div id="tree3">
                        <br />
                      
                        <p>Permisos:</p>
                    </div>

                </th>
               
            </tr>

        </table>

            

            for ( var i = 0; i < Model.permisos.Count(); i++)
            {
                @Html.CheckBoxFor(m => m.permisos[i].ACTIVO)
                @Html.LabelFor(m => m.permisos[i].ACTIVO, Model.permisos[i].DESCRIPCION)<br />
                @Html.HiddenFor(m => m.permisos[i].DESCRIPCION)
            }
        <br />
        <br />



        <input type="submit" value="Guardar" />

    }

        
    </body>
</html>


