@model Backoffice0._1.Models.CALLCENTER_CLIENTES1

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CALLCENTER_CLIENTES1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CALLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CALLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESPECIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESPECIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLONIA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLONIA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REFERENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REFERENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADICIONALES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADICIONALES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APP_UBICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APP_UBICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APP_PWD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APP_PWD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APP_GCM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APP_GCM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ULTIMA_COMPRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ULTIMA_COMPRA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
